@import "../../main-styles";

.budget-item-section {

  .budget-items-container {

    .budget-items {

      .budget-item-card {
        display: block;
        margin-bottom: $medium-margin-bottom
      }
    }

    .income-column,
    .expenses-column {
      h1 {
        font-family: $font-family;
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: $medium-margin-bottom
      }
    }

    .income-column {
      h1 {
        color: $green;
      }
    }

    .expenses-column {
      h1 {
        color: $red;
      }
    }

  }
}

@media screen and (min-width: 768px) {
  .budget-item-section {

    .budget-items-container {
      display: flex;

      .expenses-column {
        margin-left: 40px;
      }
    }

    .budget-item-column {
      width: 100%;
    }
  }
}
